:root {
    --text-color: #f0f4f5;
    --background-color: darkslategrey;
    --accent-color : #d49466;
}

body {
    margin: 0;
    font-family: 'source sans pro';
}

.header { 
    background-color: var(--background-color);
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding: 8px 12px;
}

a {
    text-decoration: none;
    color: white;
}

.logo {
    color: white;
    font-size: 24px; 
    
}

.logo i {
    color: #d49466;
}


.menu{
    
    color: white;
    padding-bottom: 0;
    padding-left: 0;
}

.menu li {
    padding: 8px 12px;
}

.menu li:hover {
    background-color: #d49466;
    border-radius: 4px;
}



.ul_menu {
    list-style: none;
    display: flex;
    justify-content: space-between;
    
}

.icon li {
    padding: 8px 12px;
}

.ul_icon {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    color: white;
    padding: 0;
    
}

.navar_toggleBtn {
    display: none;
    position:absolute;
    right: 32px;
    font-size: 24px;
    color: #d49466;
}

@media screen and (max-width : 900px){
    .header { 
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
    }
    
    .ul_menu {
    flex-direction: column;
    padding-left: 0;
    align-items: center;
    display: none;
    }

    .menu {
        width: 100%;
    }

    .ul_menu li {
        width: 100%;
        text-align: center;
    }

    .icon {
        justify-content: center;
        width: 100%;
        display: none;
    }

    .icon ul{
        justify-content: center;
        width: 100%;
    }

    .navar_toggleBtn {
        display: block;
    }

    .icon.active, 
    .ul_menu.active {
        display: flex;
    }

}